# AI模型配置
HF_ENDPOINT=https://hf-mirror.com
# OpenAI配置
OPENAI_API_KEY=
OPENAI_BASE_URL=

# 文心一言配置
QWEN_API_KEY=
QWEN_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1

# DeepSeek配置
DEEPSEEK_API_KEY=
DEEPSEEK_BASE_URL=https://api.deepseek.com/v1

# 应用配置
FLASK_DEBUG=True
FLASK_HOST=0.0.0.0
FLASK_PORT=8000