target/
.idea/
logs/
outputs/
uploads/
.venv/
env/
.env/
data/
venv/
temp/
uploads/
htmlcov/
.git/
.svn/
.env
bin/
.settings/
__pycache__/
.classpath
.factorypath
.project
.DS_Store
db.json
*.log
*.iml
*.git
.coverage
mvnw
mvnw.cmd

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/.claude/settings.local.json
